* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.title {
    z-index: 4;
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_container {
    margin-top: 21.5%;
    margin-left: 20px;
}